<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>Pipes incluidos en Angular - Normalmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas" subheader="de este año">
      <i class="pi pi-euro"></i> {{ (ventasNetas + 1000000 ) | number:'1.2-2' }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ventas Brutas" subheader="de este año">
      {{ (ventasNetas + 1000000 ) | currency:'EUR':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Ganancia %" subheader="de este año">
      {{ porcentaje | percent:'1.2-2' }}
    </p-card>
  </div>
</div>
