<div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ objeto | json }}</h1>
</div>
<button
  pButton
  (click)="mostrarNombre()"
  label="Cambiar Nombre"
  icon="pi pi-check"
  class="p-button-help"
  iconPos="right"
></button>

<p-card [header]="nombre | titlecase" subheader="valor">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, dicta, commodi voluptate nobis blanditiis veniam consectetur natus exercitationem facilis provident inventore accusantium placeat modi illum ullam ad vitae quam soluta quis delectus ut eum saepe nam! Provident corrupti assumenda perferendis fugiat, magni, incidunt quam corporis, voluptates animi aliquam dolores. Magni.
</p-card>
